<div class="row">
	<div class="col-sm-6 pull-right"> 
		<button class="btn btn-danger circle pull-right" > <i class="fa fa-trash-o fa-2x"></i></button>
		<button class="btn btn-info circle pull-right" > <i class="fa fa-pencil fa-2x"></i></button>		
	</div>
	<div class="col-sm-6">
		<h3><%= @user.name %></h3>
	</div>
</div>
<hr>

<h4><%= @user.email %></h4>
<h4><%= @user.phone %></h4>
<h4><%= @user.dob %></h4>
<h4><%= @user.city %></h4>
<h4><%= @user.country %></h4>