<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<div class="box">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 well">
				
				<%= yield %>			
			</div>
		</div>
		
	</div>
</body>
</html>
